.report_results
  - json.keys.sort.each do |key_name|
    %h2= key_name
    %table.data.box.report_suite
      %thead
        %tr
          %th.r_key= t '.report.r_key'
          %th.r_value= t '.report.r_value'
      %tbody
        - json[key_name].sort.each do |k,v|
          %tr
            %td.key
              %span= k.to_s()
            %td.value
              %span= v.to_s()
