= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    = instance_field :keystone
    = boolean_field :keystone_delay_auth_decision
    = boolean_field :allow_versions
    = select_field :frontend, :collection => :frontends_for_swift
    = integer_field :zones
    = integer_field :partitions
    = integer_field :min_part_hours
    = integer_field :replicas
    = integer_field :replication_interval
    = string_field :cluster_hash
    = password_field :cluster_admin_pw
    = boolean_field :debug

    %fieldset
      %legend
        = t(".ssl.header")

      = boolean_field %w(ssl enabled), :collection => :ssl_protocols_for_swift, "data-sslprefix" => "ssl", "data-sslcert" => "/etc/swift/cert.crt", "data-sslkey" => "/etc/swift/cert.key"

      #ssl_container
        = boolean_field %w(ssl generate_certs)
        = string_field %w(ssl certfile)
        = string_field %w(ssl keyfile)
        = boolean_field %w(ssl insecure)

    %fieldset
      %legend
        = t(".middlewares.s3.header")

      = boolean_field %w(middlewares s3 enabled)

    %fieldset
      %legend
        = t(".middlewares.staticweb.header")

      = boolean_field %w(middlewares staticweb enabled)

    %fieldset
      %legend
        = t(".middlewares.tempurl.header")

      = boolean_field %w(middlewares tempurl enabled)

    %fieldset
      %legend
        = t(".middlewares.formpost.header")

      = boolean_field %w(middlewares formpost enabled)

    %fieldset
      %legend
        = t(".middlewares.bulk.header")

      = boolean_field %w(middlewares bulk enabled)

    %fieldset
      %legend
        = t(".middlewares.crossdomain.header")

      = boolean_field %w(middlewares crossdomain enabled), "data-showit" => "true", "data-showit-target" => "#crossdomain_container", "data-showit-direct" => "true"

      #crossdomain_container
        = text_field %w(middlewares crossdomain cross_domain_policy)

    %fieldset
      %legend
        = t(".middlewares.domain_remap.header")

      = boolean_field %w(middlewares domain_remap enabled), "data-showit" => "true", "data-showit-target" => "#domain_remap_container", "data-showit-direct" => "true"

      #domain_remap_container
        = string_field %w(middlewares domain_remap path_root)
        = string_field %w(middlewares domain_remap storage_domain)

    %fieldset
      %legend
        = t(".middlewares.ratelimit.header")

      = boolean_field %w(middlewares ratelimit enabled), "data-showit" => "true", "data-showit-target" => "#ratelimit_container", "data-showit-direct" => "true"

      #ratelimit_container
        = integer_field %w(middlewares ratelimit clock_accuracy)
        = integer_field %w(middlewares ratelimit max_sleep_time_seconds)
        = integer_field %w(middlewares ratelimit log_sleep_time_seconds)
        = integer_field %w(middlewares ratelimit rate_buffer_seconds)
        = integer_field %w(middlewares ratelimit account_ratelimit)
        = string_field %w(middlewares ratelimit account_whitelist)
        = string_field %w(middlewares ratelimit account_blacklist)
        = string_field %w(middlewares ratelimit container_ratelimit_size)
