.panel.panel-default
  - json.sort.each do |key_name, key_values|
    .panel-heading
      %h2
        = key_name

    %table.table.table-hover.table-middle
      %thead
        %tr
          %th.col-xs-4
            = t(".report.r_key")
          %th.col-xs-8
            = t(".report.r_value")
      %tbody
        - key_values.sort.each do |k, v|
          %tr
            %td.key
              = k.to_s
            %td.value
              = v.to_s
