.row
  .col-xs-12
    %h1.page-header
      = t(".title")

      .pull-right
        %span.badge
          = t(".report_runs", :count => @reports.count)

= form_for :report, :url => swift_create_report_path, :html => { :role => "form" } do |f|
  .panel.panel-default
    .panel-body
      .form-group
        = label_tag :node, t(".run.label")
        = select_tag :node, nodes_for_swift(params[:node]), :class => "form-control"
    .panel-footer.text-right
      .btn-group
        = submit_tag t(".run.do"), :class => "btn btn-default"

.panel.panel-default
  .panel-heading
    .btn-group.pull-right
      = link_to t(".clear.do"), swift_clear_report_path, :class => "btn btn-default"

    %h2
      = t(".reports")

  %table.table.table-hover.table-middle
    %tbody
      %thead
        %th.col-xs-6
          = t(".report_run.node")
        %th.col-xs-2
          = t(".report_run.state")
        %th.col-xs-2
          = t(".report_run.started")
        %th.col-xs-2
          = t(".report_run.ended")
      %tbody
        - if @reports.empty?
          %tr
            %td.empty{ :colspan => 4 }
              .alert.alert-info
                = t(".no_report_runs")
        - @reports.each do |report|
          %tr
            %td
              = link_to report["alias"], node_path(:name => report["node"]), :title => report["node"]
            %td
              = swift_report_status_for(report)
            %td
              - if report["started"]
                = l(report["started"], :format => :short)
              - else
                &mdash;
            %td
              - if report["ended"]
                = l(report["ended"], :format => :short)
              - else
                &mdash;
