.row
  .col-xs-12
    %h1.page-header
      = t(".title")

.panel.panel-default
  .panel-heading
    .btn-group.pull-right
      = link_to t(".raw_json"), swift_show_report_path(:id => @report["uuid"], :format => "json"), :class => "btn btn-default"

    %h2
      = @report["uuid"]

  %table.table.table-hover.table-attributes
    %tbody
      %tr
        %th.col-xs-4
          = t("barclamp.swift.dashboard.report_run.node")
        %td
          = @report["node"]
      %tr
        %th.col-xs-4
          = t("barclamp.swift.dashboard.report_run.started")
        %td
          = l(@report["started"], :format => :short)
      %tr
        %th.col-xs-4
          = t("barclamp.swift.dashboard.report_run.ended")
        %td
          = l(@report["ended"], :format => :short)

- if File.exist? Rails.root.join(@report["results.html"])
  = render :file => Rails.root.join(@report["results.html"]).to_s

